<p id="notice"><%= notice %></p>

<h2>Lista de Contatos</h2>

<div class="container">
  <table class="responsive-table striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <th><%= contact.id %></th>
          <th><%= contact.name %></th>
          <th><%= contact.email %></th>
          <th>
            <%= link_to 'Detalhes', contact %>S
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>